
.center-xy {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
  }
  

  
  .comparison-slider-container {
    max-width: 600px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    z-index: 999;
  }
  
  .slider-col {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
  }
  .slider-col .slider-bg {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .slider-col .slider-caption {
    position: absolute;
    top: 0;
    padding: 10px 16px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 20px;
    font-size: 14px;
  }
  
  .slider-right .slider-bg {
    width: 600px;
    /* background-color: #783939; */
  }
  .slider-right .slider-caption-right {
    right: 0;
  }
  
  .slider-left {
    width: 0px;
    left: 0px;
  }
  .slider-left .slider-bg {
    width: 600px;
    /* background-color: #535353; */
  }
  .slider-left .slider-caption-left {
    left: 0;
  }
  
  .handle {
    background-color: #000;
    width: 3px;
    height: 100%;
    margin-left: -2px;
    position: absolute;
    cursor: col-resize !important;
    content: "";
  }
  .handle:after {
    content: "";
    width: 35px;
    height: 35px;
    /* background-color: #fff;
    border: 4px solid #000; */
    background-color: #111010;
    border: 3px solid #111010;
    border-radius: 100%;
    top: 50%;
    left: 0px;
    margin: -16px;
    position: absolute;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    z-index: 2;
    display: flex;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
}

.arrow i {
    color: #fff;
    font-size: 14px;
    margin:0px 2px;
}

.arrow .left {
    margin-left: -12px;
    margin-top: 3px;
}
.arrow .right {
    margin-top: 3px;
}
  
 
  @media (min-width: 200px ) and (max-width: 768px) {

    .comparison-slider-container {
        max-width: 300px;
        max-height: 400px;
      }
      .slider-left .slider-bg {
        width: 300px;
        /* background-color: #535353; */
      }
      .slider-right .slider-bg {
        width: 300px;
        /* background-color: #535353; */
      }
    }